<h1></h1>

<fieldset>
  <legend>{{titulo}}</legend>

  <form [formGroup]="espetaculoForm" novalidate>

    <div class="panel">
      <div class="panel-body">

        <div class="row">
          <div class="col">
            <!-- NOME -->
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" maxlength="50" placeholder="Nome do espetáculo"
                formControlName="nome" />
            </div>

            <!-- Genero do espetaculo -->
            <div class="form-group">
              <label for="nome">Gênero</label>
              <input type="text" class="form-control" id="genero" formControlName="genero" placeholder="genero"/>
            </div>

            <!-- Data espetáculo -->
            <div class="form-group">
              <label for="descricao">Data</label>
              <input type="date" class="form-control" formControlName="data">
            </div>

            <!-- Sinopse do espetaculo -->
            <div class="form-group">
              <label for="nome">Sinopse</label>
              <input type="text" class="form-control" maxlength="50" placeholder="Sinopse do espetaculo"
                formControlName="sinopse" />
            </div>

          </div>

          <div class="col" style="padding-top: 2rem;">

            <!-- PESSOAS COM NECESSIDADES ESPECIAIS -->
            <div class="form-group">
              <label for="nome">Classificação</label>
              <input type="text" class="form-control" maxlength="50" placeholder="Classificação do espetaculo"
                formControlName="classificacao" />
            </div>

            <!-- CAMAROTE -->
            <div class="form-group">
              <label for="nome">Duração</label>
              <input type="text" class="form-control" maxlength="5" placeholder="Duração do espetáculo"
                formControlName="duracao" />
            </div>
          </div>

        </div>
      </div>

      <div class="panel-footer text-center clearfix">
        <!-- BOTÕES -->
        <div class="btn-group">
          <button type="button" [routerLink]="['/espetaculo/']" class="btn btn-default">
            <i class="material-icons">keyboard_backspace</i>
            Voltar
          </button>

          <button type="button" (click)="salvar(espetaculoForm.value)" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</fieldset>

<!-- <pre>{{ espetaculoForm.value | json }}</pre> -->
