<h1>Lista de Espetaculos</h1>
<div class="form-group text-right">
    <button type="button" class="btn btn-primary" [routerLink]="['/espetaculo/novo']">Adicionar Espetaculo</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Gênero</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let espetaculo of espetaculos">
            <td>{{espetaculo.id}}</td>
            <td>{{espetaculo.nome}}</td>
            <td>{{espetaculo.genero}}</td>
            <td>
                <a class="btn btn-link" [routerLink]="['/espetaculo/alterar',espetaculo.id]" >Alterar</a> |
                <button class="btn btn-link" (click)="excluir(espetaculo.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
