<h1>Lista de Sessões</h1>

<div class="form-group text-right">
    <button type="button" class="btn btn-primary" [routerLink]="['/sessao/novo']">Adicionar Sessão</button>
</div>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Preço</th>
            <th scope="col">Sala</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sessao of sessoes">
            <td>{{sessao.id}}</td>
            <td>{{sessao.data}}</td>
            <td>{{sessao.preco}}</td>
            <td>{{sessao.sala.nome}}</td>
            <td>
                <a [routerLink]="['/sessao/alterar',sessao.id]" >Alterar</a> |
                <button (click)="excluir(sessao.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
