<!-- <section class="body-sign">
  <div class="center-sign">

    <div class="panel panel-sign">
      <div class="panel-body">

        <form [formGroup]="loginForm" novalidate>

          <div class="form-group mb-lg">
            <div class="input-group input-group-icon">
              <input name="email" formControlName="email" type="text" class="form-control input-lg" />
              <span class="input-group-addon">
                <span class="icon icon-lg">
                  <i class="fa fa-user" style="color:gray"></i>
                </span>
              </span>
            </div>
          </div>

          <div class="form-group mb-lg">
              <div class="input-group input-group-icon">
                <input name="pwd" type="password" formControlName="password" class="form-control input-lg" />
                <span class="input-group-addon">
                  <span class="icon icon-lg">
                    <i class="fa fa-lock" style="color:gray"></i>
                  </span>
                </span>
              </div>
          </div>

          <div class="row">
            <div class="col-sm-4 text-right">
              <button type="button" class="btn btn-primary btn-block mt-lg" [routerLink]="['/sala/']">Acessar</button>
            </div>
          </div>
        </form>

      </div>
    </div>

    <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All Rights Reserved.</p>
  </div>
</section>

<pre>{{ loginForm.value | json }}</pre> -->




<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Bem vindo</h2>
        <p>Digite seu user e senha</p>
      </div>
      <form [formGroup]="loginForm" id="Login" novalidate>

        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" formControlName="username" placeholder="Email Address">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Password">
        </div>
        <div class="forgot">
          <a>Esqueceu sua senha?</a>
        </div>

        <!-- <button class="btn btn-primary" [routerLink]="['/sala/']">Acessar</button> -->
        <button class="btn btn-primary" (click)="login(loginForm.value)">Acessar</button>

        {{ loginForm.value | json }}
      </form>
    </div>


  </div>
</div>
