<h1></h1>

<fieldset>
  <legend>{{titulo}}</legend>

  <form [formGroup]="salaForm" novalidate>

    <div class="panel">
      <div class="panel-body">

        <div class="row">
          <div class="col">
            <!-- NOME -->
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" maxlength="50" placeholder="Nome da Sala"
                formControlName="nome" />
            </div>

            <!-- NÚMERO DE CADEIRAS -->
            <div class="form-group">
              <label for="nome">N° Cadeiras</label>
              <input type="number" class="form-control" id="preco" formControlName="totalCadeiras" />
            </div>

            <!-- DESCRIÇÃO -->
            <div class="form-group">
              <label for="descricao">Descricao</label>
              <textarea type="text" style="resize: none; height: 145px;" maxlength="200" class="form-control" id="descricao"
                formControlName="descricao"></textarea>
            </div>

          </div>

          <div class="col" style="padding-top: 2rem;">

            <!-- PESSOAS COM NECESSIDADES ESPECIAIS -->
            <div class="card">
              <div class="card-header">
                Pessoas com necessidades especiais
              </div>
              <div class="card-body">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="acessoPne" title="Portador necessidades especiais"
                    formControlName="acessoPNE">
                  <label class="form-check-label" for="acessoPne">acessoPNE</label>
                </div>
              </div>
            </div>

            <!-- CAMAROTE -->
            <div class="card">
              <div class="card-header">
                Camarote
              </div>
              <div class="card-body">

                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="camarote" title="Camarote" [(ngModel)]="camarote" formControlName="camarote">
                  <label class="form-check-label" for="camarote">Camarote</label>
                </div>

                <div class="form-group">
                  <label for="nome">N° Cadeiras Camarote</label>
                  <input type="number" class="form-control" id="preco" max="100" ng-disabled="camarote == false" formControlName="totalCadeirasCamarote" />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="panel-footer text-center clearfix">
        <!-- BOTÕES -->
        <div class="btn-group">
          <button type="button" [routerLink]="['/sala/']" class="btn btn-default">
            <i class="material-icons">keyboard_backspace</i>
            Voltar
          </button>

          <button type="button" (click)="salvar(salaForm.value)" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</fieldset>

<!-- <pre>{{ salaForm.value | json }}</pre> -->
