<h1>Lista de Salas</h1>
<div class="form-group text-right">
    <button type="button" class="btn btn-primary" [routerLink]="['/sala/novo']">Adicionar Sala</button>
</div>

<table class="table" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">N° cadeiras</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sala of salas">
            <td>{{sala.id}}</td>
            <td>{{sala.nome}}</td>
            <td>{{sala.totalCadeiras}}</td>
            <td>
                <a class="btn btn-link" [routerLink]="['/sala/alterar',sala.id]" >Alterar</a> |
                <button class="btn btn-link" (click)="excluir(sala.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
