<div class="geral">
  <app-navbar [hidden]="!autenticado()"></app-navbar>

  <!-- CONTEUDO -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

  <!-- RODAPE -->
  <div class="row">
    <div class="footer">
      <p> Aula Prog Web 2018/2 &#174; Direitos Reservados </p>
    </div>
  </div>

<!--
  <app-login [hidden]="!autenticado()"></app-login>
<app-default [hidden]="autenticado()"></app-default> -->

