<h1>Lista de Fucionarios</h1>
<div class="form-group text-right">
    <button type="button" class="btn btn-primary" [routerLink]="['/funcionario/novo']">Adicionar Funcionario</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <td>
            lucas
        </td>
        <td>
            lucas
        </td>
        <td>
            lucas
        </td>
        <td>
            <a class="btn btn" [routerLink]="['/funcionario/alterar']">Alterar</a> |
            <button class="btn btn" >Excluir</button>
        </td>

    </tbody>
</table>