<h1></h1>

<fieldset>
  <legend>{{titulo}}</legend>

  <form [formGroup]="vendaForm" novalidate>

    <div class="panel">
      <div class="panel-body">

        <div class="row">
          <div class="col">
            <!-- NOME -->
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" maxlength="80" formControlName="nome" />
            </div>

            <!-- CPF -->
            <!-- <div class="form-group">
              <label for="nome">CPF</label>
              <input type="text" class="form-control" id="cpf" maxlength="11" formControlName="cpf" />
            </div> -->

            <!-- País -->
            <!-- <div class="form-group">
              <label for="descricao">País</label>
              <input type="text" class="form-control" maxlength="50" formControlName="pais">
            </div> -->

            <!-- Bairro -->
            <!-- <div class="form-group">
              <label for="nome">Bairro</label>
              <input type="text" class="form-control" maxlength="50" formControlName="bairro" />
            </div> -->
            
            
            <!-- <div class="col" style="padding-top: 2rem;"> -->
              
          <!-- Cargo -->
          <!-- <div class="col">
            <div class="form-group">
              <label for="nome">Cargo</label>
              <input type="text" class="form-control" maxlength="80" formControlName="cargo" />
            </div> -->
            
            <!-- USUARIO -->
            <!-- <div class="form-group">
              <label for="nome">Usuário</label>
              <input type="text" class="form-control" maxlength="40" formControlName="usuario" />
            </div> -->
            
            <!-- Sobrenome -->
            <!-- <div class="form-group">
              <label for="nome">Sobrenome</label>
              <input type="text" class="form-control" maxlength="80" formControlName="sobrenome" />
            </div> -->
            
            <!-- RG -->
            <!-- <div class="form-group">
              <label for="nome">RG</label>
              <input type="number" class="form-control" maxlength="7" formControlName="rg" />
            </div>
          </div> -->
            
            <!-- DATA DE NASCIMENTO -->
            <!-- <div class="form-group">
              <label for="nome">Data de Nascimento</label>
              <input type="text" class="form-control" maxlength="10" formControlName="dataDeNascimento" />
            </div> -->
            
          <!-- Estado -->
          <!-- <div class="form-group">
            <label for="nome">Estado</label>
            <input type="text" class="form-control" maxlength="80" formControlName="estado" />
          </div> -->
          
          <!-- Cidade -->
          <!-- <div class="form-group">
            <label for="nome">Cidade</label>
            <input type="text" class="form-control" maxlength="50" formControlName="cidade" />
          </div>
        </div> -->
          
          <!-- endereço -->
          <!-- <div class="form-group">
            <label for="nome">Endereço</label>
            <input type="text" class="form-control" maxlength="80" formControlName="endereco" />
          </div> -->
          
          <!-- email -->
          <!-- <div class="form-group">
            <label for="nome">Email</label>
            <input type="text" class="form-control" maxlength="80" formControlName="email" />
          </div> -->
          
          <!-- Telefone -->
          <!-- <div class="form-group">
            <label for="nome">Sobrenome</label>
            <input type="number" class="form-control" maxlength="16" formControlName="telefone" />
          </div>
        </div>

      </div>

      <div class="panel-footer text-center clearfix"> -->
        <!-- BOTÕES -->
        <!-- <div class="btn-group">
          <button type="button" [routerLink]="['/venda/']" class="btn btn-default">
            <i class="material-icons">keyboard_backspace</i>
            Voltar
          </button> -->

          <button type="button" (click)="salvar(vendaForm.value)" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</fieldset>

<!-- <pre>{{ vendaForm.value | json }}</pre> -->