<fieldset>
  <legend>{{titulo}}</legend>

  <form [formGroup]="sessaoForm" novalidate>
    <div class="panel">
      <div class="panel-body">

        <div class="row">
          <div class="col">
            <!-- DATA -->
            <div class="form-group">
              <label for="nome">Data</label>
              <input type="date" class="form-control" id="nome" maxlength="50" placeholder="Data da sessão"
                formControlName="data" />
            </div>

            <!-- HORARIO -->
            <div class="form-group">
              <label for="horario">Horario</label>
              <input type="time" class="form-control" id="horario" formControlName="horarios" />
            </div>
          </div>

          <div class="col">
            <!-- PESSOAS COM NECESSIDADES ESPECIAIS -->
            <div class="form-group">
              <label for="nome">Sala</label>
              <select class="form-control" id="sala" formControlName="sala">
                <option *ngFor="let sala of salas" [value]="sala">{{ sala.nome }}</option>
              </select>
            </div>

            <!-- PREÇO -->
            <div class="form-group">
              <label for="preco">Preço</label>
              <input type="time" class="form-control" id="preco" maxlength="8" formControlName="preco" />
            </div>

          </div>
        </div>
      </div>

      <div class="panel-footer text-center clearfix">
        <!-- BOTÕES -->
        <div class="btn-group">
          <button type="button" [routerLink]="['/sala/']" class="btn btn-default">
            <i class="material-icons">keyboard_backspace</i>
            Voltar
          </button>

          <button type="button" (click)="salvar(salaForm.value)" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</fieldset>

<!-- <pre>{{ sessaoForm.value | json }}</pre> -->