<form [formGroup]="alterarSenhaForm" novalidate>
  <div class="panel">
    <div class="panel-body">

      <div class="row">

        <div class="col-xs-4">
            <input type="text" class="form-control" formControlName="senhaAtual" autocomplete="off">
        </div>

        <div class="col-xs-4">
            <input type="text" class="form-control" formControlName="senhaNova" autocomplete="off">
        </div>

        <div class="col-xs-4">
            <input type="text" class="form-control" formControlName="confirmarSenha" autocomplete="off">
        </div>

      </div>
    </div>
    <div class="panel-footer">
      <button (click)="alterarSenha(alterarSenhaForm.value)" [disabled]="!alterarSenhaForm.valid" class="btn btn-success">
        Salvar
      </button>
      <button type="button" [routerLink]="['/']" class="btn btn-default">
        Cancelar
      </button>
    </div>
  </div>
</form>

<pre> {{ alterarSenhaForm.value | json }}</pre>
