<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['home']">SisTeatro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['sala']">Sala</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['espetaculo']">Espetáculo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['sessao']">Sessão</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['venda']">Venda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['balanco']" disabled>Balanço</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['funcionario']">Funcionario</a>
        </li>

      </ul>

        <div class="text-right">
        <form class="form-inline ">
          <button type="button" class="btn btn-light" (click)="logout()">
            <i class="material-icons">exit_to_app</i>
            Logout
          </button>
        </form>
      </div>

    </div>
  </div>
</nav>

<br/>
