/* You can add global styles to this file, and also import other style files */

button i.material-icons {
  vertical-align: middle;
  padding-bottom: 2px;
  /* padding-right: 10px; */
  /* margin-right: 5px; */
  /* border-right: 2px groove; */
}
