<h3 class="text-center">Sisteatro</h3>

<p>
Para administradores de teatro que precisam realizar vendas diárias de
espetáculos teatrais e gerenciar salas, sessões e balanço financeiro de forma rápida e
eficaz, o <b>SISTEATRO</b> é uma plataforma web que auxilia os funcionários nas vendas e
atualização de informações acerca dos espetáculos teatrais Diferente de outros
sistemas, este produto é de fácil acesso, dinâmico e básico para atender as
necessidades especificas dos usuários e das pessoas que desejam assistir peças
teatrais Nosso Produto automatizará de forma simples, objetiva e segura o processo
de vendas e gestão de salas, sessões, espetáculos e balanço financeiro do teatro.
</p>
